*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color:#232323;
}
.contaainer
{
    width: 100%;
    margin: 0 auto;
}
.nav-wrapper
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo 
{
    font-size: 18px;
    margin-left: 50px;
    color: white;
    height: 50px;
    width: 100px;
    text-align: center;
    padding-top: 6px;
}
.nav-wrapper ul.nav-list
{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 50px;
}
.nav-wrapper ul.nav-list li
{
    margin-left: 30px;
    padding: 20px 0;
}
.nav-wrapper ul.nav-list li a
{
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    transition: all .5s ease-in-out;
}
.nav-wrapper ul.nav-list li a:hover 
{
    color: #933ded;
}
.btn
{
    background-color: #933ded;
    color: white;
    outline: none;
    padding: 8px 20px ;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border: 1px solid transparent;
}
.btn:hover
{
    background-color: transparent;
    border: 1px solid white;
}
section.header
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
}
section.header .heading h1
{
    color: white;
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 20px;
    text-transform: capitalize;
}
section.header .heading p
{
    margin-bottom: 20px;
    color: silver;
}
.hamburger
{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    cursor: pointer;
    float: right;
    margin-right: 40px;
}
.hamburger
{
    display: none;
}
.hamburger span
{
    background-color: white;
    width: 28px;
    height: 2px;
    margin-bottom: 8px;
}

@media only screen  and  (max-width: 940px){
  
    .hamburger
    {
        display: flex;
        z-index: 9999;
    }
    #nav-ul
    {
        background: linear-gradient(45deg, #434343,#000000);
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        margin-top: 80px;
        opacity: 0;
        pointer-events: none;
       
    }
    #nav-ul.open
    {
        opacity: 1;
        pointer-events: auto;
          transition: all  0.5s ease-out; 
          transition: all  0.5s ease-in; 
    }
    .hamburger span
    {
       transform-origin: left;
       transition: all .5s ease-in-out;
    }

}
@media only screen  and  (max-width: 500px){
    #nav-ul
    {
        padding-right: 30px;
    }
}


